#hire {
    width: 520px;
    max-width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding-top: 32px;
  }

  #hiretxt {
    font-size: 36px;
    font-weight: bold;
    color: rgb(186, 184, 181);
    margin-bottom: 32px;
    margin-top: 5px;
    padding: 8px;
  }

  .rectangle {
    display: inline-block;
    width: 450px;
    height: 100px;
    background: white;
    border: 2px solid #dedbdb;
    border-radius: 8px;
    box-shadow: 1px 3px grey;
    align-items: center;
    align-content: center;
  }

  .workerimg {
    width: 75px;
    height: 75px;
    border: 2px solid white;
    border-radius: 100px;
    float: left;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 25px;
    
  }
  #workerimg:hover {
    border: 2px solid green;
  }

  .deleteimg {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    margin-top: 1px;
    margin-right: 22px;
    
  }
  .deleteimg:hover {
    border: 2px solid white;
  }

  .rectxt {
    color: rgb(179, 167, 167);
    font-size: 20px;
    padding: 14px;
    text-align: left;
    margin-left: 200px;
  }

  .servicetxt {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 600;
   
    text-align: left;
    
  }

  .statustxt {
    color: rgb(138, 118, 118);
    font-size: 12px;
    font-weight: 400;
    padding: 16px;
    text-align: left;
    margin-left: 1px;

  }
 
  .endbutton {
    background-color: green;
    color: white;
    width: 30%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor:pointer;
    margin-top: 1px;
    margin-right: 12px;
    padding: 8px;
    float: right;
  }
  
  .endbutton:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
    font-size: 16px;
  }