#request {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0px;
    padding-bottom: 16px;
    min-height: 70vh;
  }

  #requestpagetxt {
    font-size: 36px;
    font-weight: bold;
    color: rgb(186, 184, 181);
    margin-top: 16px;;
    margin-bottom: 16px;
  }
  

  .rectangle {
    display: flex;
    width: 450px;
    height: 100px;
    background: white;
    border: 2px solid #dedbdb;
    border-radius: 8px;
    box-shadow: 1px 3px grey;
    align-items: center;
    align-content: center;
    margin-bottom: 18px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
  }


  .workerimg {
    width: 75px;
    height: 75px;
    border: 2px solid white;
    border-radius: 100px;
    float: left;
    cursor: pointer;
    margin: auto;
    
  }
  .rectangle:hover{
    border-color: green;
  }

  .rectxt {
    color: rgb(66, 64, 64);
    font-size: 24px;
    text-align: left;
    margin-left: 20px;
    padding-left: 20px;
    width:240px ;
    float:left;
  }

  #servicetxt {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: left;    
  }
 
  .acceptbutton {
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    margin: auto;
    margin-right: 12px;
    border:1px solid green
  }
  .acceptbutton:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
  }

  .declinebutton {
    background-color: green;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    margin: auto;
    border:1px solid green
  }
  .declinebutton:hover {
    background-color: white;
    color: green;
    border: 1px solid green;
  }

  